@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

textarea {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(115 115 115 / 0.7);
  border-radius: 12px;
}
